@model IEnumerable<Vehicle>


@foreach (var vehicle in Model)
{
              
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="~/img/@vehicle.Image" alt="@vehicle.Brand">
            <div class="card-body">
                <p class="card-text">@vehicle.Brand</p>
                                
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="Home" asp-action="Details" asp-route-id="@vehicle.Id">Details</a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
}
